.default-nav {

  display: block;
  background-color: #004990;
  overflow: hidden;

}
default-nav figure {
    float: right;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

.default-nav ul li {
    list-style-type: none;
    float: left;
    display: block;
    text-align: center;
    padding: 25px;
    text-decoration: none;
    font-size: 25px;
}

body
{
    background-image: url(cd_project_red.png);
    margin: 0;
}
a
{
    color:white;
    text-decoration: none;
}

.size_witcher{
    position: relative;
    top: 10px;
    left: 640px;
}
body {
    max-width: 1700px; /* Максимальная ширина страницы в пикселах */
   }

.movie_edit_witcher{
    position: relative;
    top: 5px;
    left: -67px;
}