<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
<form action="{{ url_for('editScreening',screening_id = screening.id)}}" method="post">
  <div class="form-group">
    <label for="movie_id">Номер фильма:</label>
    <input type="text" class="form-control" name="movie_id" value="{{screening.movie_id}}">
    <label for="branch_id">Номер Зала:</label>
    <input type="text" class="form-control" name="branch_id" value="{{screening.branch_id}}">
    <label for="screening_time">Время сеанса:</label>
    <input type="text" class="form-control" name="screening_time" value="{{screening.screening_time}}">
    <button  class="btn btn-info" type="submit"> Обновить</button>
    <a  class="btn btn-info" href='{{ url_for('showScreenings') }}'>
      Отменить
    </a>
  </div>
</form>