<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
<form action="{{ url_for('editSeat',seat_id = seat.id)}}" method="post">
  <div class="form-group">
    <label for="row">Номер ряда:</label>
    <input type="text" class="form-control" name="row" value="{{seat.row}}">
    <label for="number">Номер места в ряде:</label>
    <input type="text" class="form-control" name="number" value="{{seat.number}}">
    <label for="branch_id">Название зала:</label>
    <input type="text" class="form-control" name="branch_id" value="{{seat.branch_id}}">
    <button  class="btn btn-info" type="submit"> Обновить</button>
    <a  class="btn btn-info" href='{{ url_for('showSeats')}}'>
      Отменить
    </a>
  </div>
</form>