<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/general_witcher.css">
<div class="size_witcher">
<form action="{{ url_for('editMovie',movie_id = movie.id)}}" method="post">
  <h1 class="movie_edit_witcher">Изменение информации о фильме</h1>
  <div class="form-group">
    <label for="name">Название:</label>
    <input type="text" class="form-control w-25" name="name" value="{{movie.title }}">
    <label for="author">Автор:</label>
    <input type="text" class="form-control w-25" name="author" value="{{movie.author}}">
    <label for="genre">Жанр:</label>
    <input type="text" class="form-control w-25" name="genre" value="{{movie.genre}}">
    <label for="price">Бюджет:</label>
    <input type="text" class="form-control w-25" name="price" value="{{movie.price }}">
    <button  class="btn btn-info mt-2 w-25" type="submit">Обновить</button>
    <br>
    <a class="btn btn-info mt-2 w-25" href='{{ url_for('showMovies') }}'>Отменить</a>
  </div>
</form>
</div>