<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/general_witcher.css">
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
 <header>
    <nav class="default-nav">
      <ul>
          <li> <a href="/movies"> Фильмы </a> </li>
        <li> <a href="/branchs"> Кинозал </a> </li>
        <li> <a href="/screenings"> Сеанс </a>  </li>
        <li> <a href="/seats"> Места </a> </li>
        <li> <a href="/users"> Пользователь </a> </li>
      </ul>
    </nav>
  </header>


</body>
</html>
