<link rel="stylesheet" href="/static/css/general_witcher.css">
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
<div class="size_witcher">
<h1>Информация о фильме</h1>
<form action="#" method="post">
  <div class="form-group">
    <label for="name">Название:</label>
    <input class="form-control w-25"  type="text" maxlength="100" name="name" placeholder="Название фильма">

    <label for="author">Автор:</label>
    <input class="form-control w-25" maxlength="100" name="author" placeholder="Автор фильма">

    <label for="genre">Жанр:</label>
    <input class="form-control w-25" maxlength="100" name="genre" placeholder="Жанр фильма">

      <label for="price">Бюджет:</label>
    <input class="form-control w-25" maxlength="100" name="price" placeholder="Бюджет фильма">

    <button  class="btn btn-info mt-2 w-25" type="submit">Добавить</button>
   </div>
</form>
</div>