<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
<h1>Добавить время сеанса</h1>
<form action="#" method="post">
  <div class="form-group">

    <label for="movie_id">Название фильма:</label>
    <select class="form-control w-25"  name="movie_id">
    {% for movie in movies %}
      <option value="{{movie.title}}" {% if movie_title=="movies" %} selected {% endif %}>{{movie.title}}</option>
      {% endfor %}
    </select>
    <br>
    <label for="branch_id">Название Зала:</label>
    <select class="form-control w-25"  name="branch_id">
      {% for branch in branchs %}
      <option value="{{branch.id}}">{{branch.name}}</option>
      {% endfor %}
    </select>
    <br>
    <label for="screening_time">Время сеанса:</label>
    <input class="form-control w-25" maxlength="100" name="screening_time" placeholder="Время сеанса">

    <button  class="btn btn-info mt-2" type="submit">Добавить</button>
   </div>
</form>