<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
</head>
<body>
 <h1 align="center">Места</h1>
 <div class="d-flex justify-content-center">
 <a href="{{url_for('newSeat')}}">
   <button class="btn btn-primary">Выбрать ряд и место в кинозале</button>
 </a>
 </div>
 <table class="table table-bordered mt-4">
   <tr>
       <th scope="col">Номер</th>
       <th scope="col">Ряд</th>
       <th scope="col">Место</th>
       <th scope="col">Номер кинозала</th>
       <th scope="col">Управление</th>

    </tr>
   {% for seat in seats %}
     <tr>
      <td>{{seat.id}}</td>
      <td>{{seat.row}}</td>
      <td>{{seat.number}}</td>
      <td>{{seat.branch_id}}</td>
      <td> <a class="btn btn-info" href="{{url_for('editSeat', seat_id = seat.id )}}">
      Изменение</a>
      <a class="btn btn-info" href="{{url_for('deleteSeat', seat_id = seat.id )}}" style="margin-left: 10px;">
      Удаление
    </a>
      </td>
     </tr>
  {% endfor %}
 </table>
</body>
</html>